.container {
  --max-width: 1350px;
  --side-padding: 1rem;

  width: min(var(--max-width), 100% - var(--side-padding) * 2);
  margin-inline: auto;
}

.margin-top {
  margin-top: var(--spacing-500);
}

.margin-bottom {
  margin-bottom: var(--spacing-500);
}